* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url("../assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

h1, h2, h3, h4, h5 {
  font-family: "Playfair Display", serif;
}

.container-fluid {
  padding: 0px;
}

main {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 strong {
  color: #f59d1c;
}

p strong {
  color: #9c6479;
}

@media only screen and (min-width: 767px) {
  main {
    height: 85vh;
  }
}

/* navbar */

.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 0;
}

.navbar img {
  width: 150px;
}

.logo {
  padding-left: 1rem;
}

.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
}

.navbar-light .navbar-nav .nav-link {
  transition: all 0.5s ease;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #9c6479;
}

.navbar-light .navbar-nav .nav-link {
  border-bottom: #d9a0b545 3px solid;
}

.navbar-toggler:focus {
  color: transparent;
  border-color: transparent;
  outline: none;
}

.navbar-collapse {
  justify-content: center;
}

.alert-success {
  padding-top: 5vh;
  padding-bottom: 3vh;
  position: absolute;
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .logo {
    position: absolute;
  }
  .navbar {
    padding: .5rem 1rem;
  }
  .navbar img {
    width: 250px;
  }
  .navbar-light .navbar-nav .nav-link {
    border-bottom: none;
  }
}

/* index */

.index {
  background: linear-gradient(to bottom, #d8d8d8 -1%, #ffffff 35%);
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.index h1 {
  color: #626262;
  font-size: 1.7rem;
}

.index .lead {
  font-size: 1.05em;
}

.description-index {
  margin: 0px auto;
}

.description-index strong {
  font-weight: bold;
}

.cta-button {
  background-color: #9c6479;
  color: white;
  transition: all 0.8s ease;
}

.cta-button:hover {
  background-color: #b18595;
  color: white;
}

@media only screen and (min-width: 600px) {
  .index h1 {
    font-size: 2.5rem;
  }
  .index .lead {
    font-size: 1.25rem;
  }
  .cta-button {
    width: 350px;
  }
  .cta-button:hover {
    width: 400px;
  }
}

@media only screen and (min-width: 767px) {
  .index {
    margin-top: 5vh;
  }
}

@media only screen and (min-width: 1200px) {
  .index h1 {
    font-size: 3.5rem;
  }
}

/*about*/

.about {
  padding: 13vh 4vh 5vh;
  height: auto;
  background-color: rgb(241 241 241);
}

.about h2 {
  color: #9c6479;
}

.about h5 {
  color: #474747;
}

.about p {
  color: #797878;
}

/* services */

.services {
  background-color: #9c6479de;
  height: auto;
  padding: 15vh 4vh 5vh;
}

.services .fa {
  font-size: 4rem;
}

.services .col-lg-6 {
  color: white;
}

.services h5 {
  color: #9c6479;
}

.services .help-block {
  font-size: 0.8rem;
  padding: 8%;
  border-radius: 10px;
  background-color: white;
  color: #797878;
}

.services ul {
  margin: 0;
  padding-left: 20px;
}

.services li {
  margin-top: 10px;
}

/* contact */

.contact {
  padding: 10vh 4vh 5vh;
  height: auto;
  background-color: #8f8f8f96;
}

.contact textarea {
  line-height: 1rem;
}

.form-group input, .form-group textarea {
  width: 100%;
  border-radius: 5px;
}

.contact .inputs {
  justify-content: space-between;
}

/* .contact .form-group {
  margin-bottom: 0rem;
} */

.contact .section-heading {
  color: #fff;
}

.contact .form-group {
  margin-bottom: 0.8rem;
}

.contact .form-group input, .contact .form-group textarea {
  padding: 0.7rem;
  border: none;
}

.contact .form-group-textarea {
  height: 100%;
}

.contact .form-group-textarea textarea {
  height: 100%;
  min-height: 10rem;
}

@media only screen and (min-width: 767px) {
  .contact {
    padding: 0;
    height: 90vh;
  }
  .container-fluid .form-group {
    margin-bottom: 0rem;
  }
}


/* footer */

.footer {
  width: 100%;
  background-color: #626262;
  text-align: center;
  font-size: 0.9rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.footer .btn {
  background-color: transparent;
  border: none;
  transition: background-color 0.5s ease;
}

.footer .btn .fa {
  font-size: 1.3rem;
  color: #ffffff;
  transition: background-color 1s ease;
}

.footer .btn .fa:hover {
  color: #d3d3d3;
}

.footer .mysentence {
  color: white;
  font-family: 'Anonymous Pro', monospace;
  width: 80%;
  font-weight: lighter;
  font-size: 0.7rem;
  height: 120px;
}

.footer p {
  margin-bottom: 0px;
}

@media only screen and (min-width: 767px) {
  .footer {
    height: 10vh;
  }
  .footer .mysentence {
    font-size: 0.9rem;
    height: auto;
  }
}

@media only screen and (min-width: 991px) {
  .footer .btn .fa {
    font-size: 2rem;
  }
}